@use "./variables.scss" as *;

// variables in util/theme.ts

:root {
  --titleFont: "monospace";
  --bodyFont: "monospace";
  --headerFont: "monospace";
  --codeFont: "monospace";
  --font-text: "monospace";
  --font-interface: "monospace", ui-sans-serif, -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, "Inter", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-monospace: "monospace", IBM Plex Mono;
}

::selection {
  background-color: #81a1c1;
  color: #222630;
}

h2 {
  font-family: var(--titleFont) !important;
}

html {
  font-size: 14px;
}

body, .center, code {
  transition: background-color 0.2s ease, color 0.2s ease;
}

li:hover >a{
  color: var(--tertiary);
  opacity: 1;
}

.internal {
  background-color: transparent;
}

code {
  background-color: var(--lightgray);
  border: 1px, solid, var(--gray);
  transition: border-color 0.2 ease;
}

.graph h3{
  display: none;
}

.graph-container {
  display: none;
}

.graph-outer {
  border: none;
  height: fit-content;
}

.graph>.graph-outer>.global-graph-icon {
    cursor: pointer;
    color: var(--dark-gray);
    opacity: 1;
    background: 0 0;
    border: none;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: .1rem;
    transition: background-color .5s;
    position: relative;
}

.folder-container div>a{
  font-size: 1rem;
}

.page-header {
  margin-top: 0px;
}

.center {
  padding: 20px;
  margin: 0;
  border-radius: 10px;
  background-color: var(--darker);
  box-shadow: 0px 0px 19px 1px var(--shadow);
  margin-top: 15px;

  @media all and ($desktop) {
    margin-top: 70px;
  }

}

footer {
    opacity: .7;
    align-content: center;
    justify-items: center;
    margin: 2rem 0 4rem;
    display: grid;
    grid-template-rows: 30px 30px;
    align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-inline-start: 0;
  gap: 1rem;
}


.page>#quartz-body {
  justify-items: center;

  @media all and ($tablet) {
    margin-top: 45px;
  }
}

.toc, .backlinks {
  @media all and ($tablet) {
    display: none;
  }
}

.sidebar {
  @media all and ($mobile) {
    position: relative;
  }
}

.center {
  @media all and ($mobile) {
    margin-top: 10px;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
  }
}
